body {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.button {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0em;
    text-align: center;
    border: 1px solid black;
    border-bottom: none;
    cursor: pointer;
    white-space: normal;
}

.button.active {
    background-color: green;
}

.button:hover {
    background-color: darkgreen;
}

.button:active:hover {
    background-color: lime;
}

#top-row {
    white-space: nowrap;
    text-align: right;
}

#plugtitle {
    float: left;
    padding-left: 0.3em;
    padding-top: 0.15em;
}

#content {
    background-color: lightgray;
}

.container {
    min-width: 40em;
    max-height: 31em;
    max-width: 48em;
}

.scrolling {
    overflow-y: scroll;
    max-height: 30em;
}

#content {
    padding: 1em 1em;
    border: 1px solid black;
}

.selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}

textarea {
    display: block;
    resize: none;
}

strong {
    font-size: 1.2em;
}

.box {
    margin-bottom: 0.5em;
}

textarea.box {
    width: 100%;
    height: 7em;
}

.storyitem {
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.storyitem:hover {
    background-color: lightblue;
}

.storyitem:active:hover {
    background-color: blue;
}

#internaldata {
    height: 12em;
}

.annotation {
    float: right;
    margin-right: 1em;
}

#filters {
    text-align: right;
    padding-top: 3px;
    border-top: 1px solid black;
}

#filterlabel {
    float: left;
    position: relative;
    top: -2px;
}

#searchfilter {
    width: 18em;
    padding-left: 0.5em;
}

.dropdown {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 1px;
    border: 1px solid black;
    background-color: white;
}

.dropdown table {
    width: 100%
}

.dropdown td {
    padding-left: 1em;
    padding-right: 0.5em;
}

.dropdown td:hover {
    background-color: lightblue;
}

.dropdown td:hover:active {
    background-color: blue;
}
