.button {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0em;
    text-align: center;
    border: 1px solid black;
    border-bottom: none;
    cursor: pointer;
    white-space: normal;
}

.button.active {
    background-color: green;
}

.button:hover {
    background-color: darkgreen;
}

.button:active:hover {
    background-color: lime;
}

#top-row {
    white-space: nowrap;
    text-align: right;
}

#plugtitle {
    float: left;
    padding-left: 0.3em;
    padding-top: 0.15em;
}

.container {
    min-width: 32em;
    max-height: 30em;
    max-width: 48em;
}

.container.scrolling {
    overflow-y: scroll;
}

#content {
    padding: 1em 1em;
    border: 1px solid black;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

textarea {
    display: block;
    resize: none;
}

strong {
    font-size: 1.2em;
}

.box {
    margin-bottom: 0.5em;
}

textarea.box {
    width: 100%;
    height: 5em;
}

.storyitem {
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.storyitem:hover {
    background-color: lightblue;
}

.storyitem:active:hover {
    background-color: blue;
}
